@charset "UTF-8";
/* CSS Document */

/*body text*/
p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #4d525a;
	line-height: 1.5em;
	text-align: justify;
}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	color: #e5173f;
	font-weight: 600;
}

.marginh1wine {
	margin-top: -10px;
}

h2{
	font-family: 'Source Sans Pro', sans-serif;
	color: #4d525a;
	font-weight: 600;
}

h3{
	font-family: 'Source Sans Pro', sans-serif;
	color: #4d525a;
	font-weight: 400;
	margin: -20px 0px 10px 0px;
}

h4{
	font-family: 'Source Sans Pro', sans-serif;
	color: #e5173f;
	font-weight: 200;
	margin: -5px 0px 10px 0px;
}

.title {
	font-size: 2.5em;
	font-weight: 200;
	text-align: left;
}

#titlev {
	font-size: 2.5em;
	font-weight: 200;
	text-align: left;
	margin-top: -5px;
	margin-bottom: -1px;
}
#titlew{
	font-size: 2.5em;
	font-weight: 200;
	text-align: left;
	margin-top: -5px;
}

/*formats the nav bar*/
nav {
	background-color: white;
	width: 100%;
	height: 30px;
	font-size: 1em;
	font-weight: 400;
	text-align: right;
}

nav ul{
	list-style-type: none;
	margin: 0px;
}

nav li {
	font-family: 'Source Sans Pro', sans-serif;
	padding:0px 5px;
	display: inline-block;
	line-height: 30px;
}

/*end formatting for the nav bar*/
/*formats the image gallery for the about us page*/
body .galleria-container {background-color: rgba(201,204,209,0.89)}


/*links*/
a:link {
	text-decoration: none;
	color: #4d525a;
}

a:hover {
	color: #e5173f;
}

a:visited{
	text-decoration: none;
	color: #4d525a;
}

/*clears float for the grids*/
.bottomclear {
	
	clear: both;
	padding-bottom: 20px;
	margin-right: 40px;
}

.bottomclear img{
	margin-top: 10px;
}
/*image alignment on vineyards page*/
.grid_5 img {
	margin: 70px 5px 10px 40px;
}

.middlepic {
	margin-left: -20px;
}

.bottomspace {
	margin-bottom: 30px;
}

.header{
	margin-top: 20px;
	margin-bottom: 10px;
}

/*margin fix*/
.paragraphsup{
	margin-top: -70px;
}
/*wine label*/
.grid_3 img{
	margin-left: 25px;
}

.extramargin{
	margin-left: -10px;
}

.extramarginf{
	margin-left: -90px;
}

.grid_3 p{
	margin-top: -10px;
}

.grid_5 p{
	margin-top: -10px;
}

/*begin css for fontawesome icons*/
/*changes size and color of the div*/
.socialmedia {
	width: 100%;
	height: 90px;
	background-color: white;
	text-align: right;
	line-height: 50px;
}

.socialmedia img {
	
	float: left;	
}

iframe{
	margin-top: 20px;
	margin-bottom: 40px;
}
/*styling for horizontal line*/
hr { 
    display: block;
    margin-top: -.5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

/*adds padding, color and size to the icons*/
/*Pulls icons to the left*/
.socialdiv {
	margin-top: -10px;
	margin-left: 70px;
}

.fa a {
	/*background-color: white;*/
	color: #4d525a;
	padding-top: 10px;
	font-size: 1.25em;
	text-align: right;
	display: inline-block;	
}

i {
	padding-right: 5px;
}

.homeimage{
	margin-top: 30px;
	margin-bottom: 30px;
}

/*css for fontawesome icons end*/

/*css for the footer*/
/* text in the footer element
*/foot p{
	color: white;
	line-height: .8em;
	padding-right: 15px;
	margin-right: 15px;
	text-align: right;
}
/*hover and link overrules the previous link css so that we can read it*/
a.foot:hover{
	color: white;
}

a.foot:link {
	color: white;
}

a.foothome:link {
	color: #4d525a;
	float: left;
}

foot img{
	float: left;
	padding: 5px 5px;
	margin-left: 10px;
}
/*applies the background color and padding to the footer element*/
.bottomdiv {
	height: 60px;
	font-size: .85em;
	padding: 10px 5px;
	display: block;
	background-color: #e5173f;
	float: left;
}

/*end css for footer*/
