@charset "UTF-8";
/* CSS Document */

/*body text*/
p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #4d525a;
	line-height: 1.5em;
	text-align: justify;
}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	color: #e5173f;
	font-weight: 600;
}

.title {
	font-size: 2.5em;
	font-weight: 200;
}
/*formats the nav bar*/
nav {
	background-color: white;
	width: 100%;
	height: 75px;
	float: right;
	font-size: 1.25em;
}

ul{
	list-style-type: none;
}

li {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: right;
	float: left;
	padding-left: 20px;
	display: block;
	background-color: white;
}

/*end formatting for the nav bar*/
/*formats the image gallery for the about us page*/
body .galleria-container {background-color: rgba(201,204,209,0.89)}



a:link {
	text-decoration: none;
	color: #e5173f;
}

a:hover {
	color: #4d525a;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
	padding: 100px 100px;
}
/*clears float for the grids*/
.bottomclear {
	
	clear: both;
	padding-bottom: 20px;
	margin-right: 50px;
}


/*begin css for fontawesome icons*/
/*changes size and color of the div*/
.socialmedia {
	height: 10px;
	background-color: #e5173f;
}
/*adds padding, color and size to the icons*/
.fa {
	background-color: #e5173f;
	color: white;
	font-size: 5em;
	padding-bottom: 20px;
	margin-top: -4px;
	float: right;
}

/*css for fontawesome icons end*/

/*css for the footer*/
/* text in the footer element
*/foot p{
	color: white;
	line-height: .8em;
	padding-right: 15px;
	margin-right: 15px;
	text-align: right;
}
/*hover and link overrules the previous link css so that we can read it*/
a.foot:hover{
	color: white;
}

a.foot:link {
	color: white;
}

foot img{
	float: left;
	padding: 5px 5px;
	margin-left: 10px;
}
/*applies the background color and padding to the footer element*/
.bottomdiv {
	height: 60px;
	font-size: .85em;
	padding: 10px 5px;
	display: block;
	background-color: #e5173f;
	float: left;
}

/*end css for footer*/
/* background image fills entire page 
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 150px; 
  left: -25%; 
  right: -25%; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
*/
/*
html {
background: url(../images/home_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




/*https://www.stollerfamilyestate.com, see for ideas*/